<div>
  <h1>Posts:</h1>
  <input type="text" [(ngModel)]="searchStr" />
  <app-post *ngFor="let post of posts | search:searchStr"
            [title]="post.title"
            [userId]="post.userId"
            [body]="post.body"
  ></app-post>
</div>
