<!--The content below is only a placeholder and can be replaced.-->
<ul>
  <li>
    <h2><a routerLink="/albums/1">Albums</a></h2>
  </li>
  <li>
    <h2><a routerLink="/posts">Posts</a></h2>
  </li>
  <li>
    <h2><a routerLink="/users">Users</a></h2>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
