<div>
  <h1>Albums:</h1>
  <input type="text" [(ngModel)]="searchStr" />
  <app-album *ngFor="let album of albums | search:searchStr | slice:start:end"
             [title]="album.title"
             [url]="album.url"
  ></app-album>
  <a *ngIf="next > 2" [routerLink]="['/albums/', next - 2]">Previous</a><br>
  <a [routerLink]="['/albums/', next]">Next</a>
</div>
